body{
    background: rgba(243,243,243,255);
    margin: 0;
  }

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

h2, h3, h4, h5, p {
  font-family: 'Poppins', sans-serif;
   color: rgba(18, 18, 21);
}
  
header{
  padding: 2px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px ;
  background: rgba(83,133,162,255);
  color: white;
  font-size: 20px;
}
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(41, 41, 41, 1);
}
    
li {
  display: inline;
  float: left;
}
    
li a {
  display: block;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
    
li a:hover {
  transition: ease;
  transition-duration: 1s;
  background-color: rgba(25, 25, 25, 1);
}
  
.active {
  background-color: rgba(25, 25, 25, 1);
}

section, .module, #cards{
  display:grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px 10px 10px 10px;
  border: 1px solid black
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgba(83,133,162,255);
  color: white;
}